<app-navbar></app-navbar>
<div class="container main-container animated fadeIn ">
    <div class="row">
        <div class="col">
            <h1>¿How do I add a recipe?</h1>
            <p>There are 2 ways to s</p>
            <form action="https://formspree.io/ramonmorcillodev@gmail.com" method="POST">
                <input type="text" name="name">
                <input type="email" name="_replyto">
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</div>