<app-navbar></app-navbar>
<div class="container main-container animated fadeIn ">
    <div class="row">
        <div class="col text-center">
            <div [innerHTML]="'about.fullText' | translate"></div>
            <!-- <h1 class="display-2">Delici<img src="./assets/img/icons/paella-icon.png" width="70px" alt="">us</h1>
            <h4>v.1.0.0</h4>
            <p>Personal project about recipes made with 💙 in my spare time. </p>
            <p>If you want to contact me just send me a mail to <a href="mailto:ramonmorcillodev@gmail.com?Subject=Hello%20Ramon" target="_top">ramonmorcillodev@gmail.com</a> </p>
            <a href="https://github.com/reymon359/delicious" target="_blank">Link to the github repo</a><br>
            <a href="https://ramonmorcillo.com" target="_blank">My site with other projects</a> -->
        </div>
    </div>
</div>