<!-- <h1 class="text-center"> </h1> -->

<div class="jumbotron jumbotron-fluid bg-transparent text-center">
    <div class="container">
        <h1 class="display-2">Dove Legacy</h1>
        <p class="lead">The best recipes from all over the world</p>
    </div>
</div>

<!-- card rows way -->
<div class="container">
    <div class="row">
        <app-recipe-card class="col-md-4" [recipe]="recipe" *ngFor="let recipe of recipes; let i = index"></app-recipe-card>
    </div>
</div>

<!-- card colums way -->
<!-- <div class="card-columns">
    <app-recipe-card [recipe]="recipe" *ngFor="let recipe of recipes; let i = index"></app-recipe-card>
</div> -->