<!-- <h1 class="text-center"> </h1> -->

<div class="jumbotron jumbotron-fluid bg-transparent text-center">
    <div class="container">
        <h1 class="display-2">Dove Legacy</h1>
        <p class="lead">The best recipes from all over the world</p>


        <form class="form-inline my-4  my-lg-5 justify-content-center" (keyup)="searchRecipes(searchText.value)">

            <input class="form-control mr-sm-2   w-auto bmd-label-floating" type="search" placeholder="Search" aria-label="Search" #searchText>
            <button class="btn btn-success bmd-btn-fab  w-auto ml-1 bmd-btn-fab-sm " type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </button>
        </form>
        <div *ngIf="loading" class="progress w-75 mx-auto" style="height: 20px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>
</div>

<!-- card rows way -->
<div class="container">

    <div class="row" *ngIf="!loading">
        <app-recipe-card class="col-md-4" [recipe]="recipe" *ngFor="let recipe of recipes; let i = index"></app-recipe-card>
    </div>
</div>

<!-- card colums way -->
<!-- <div class="card-columns">
    <app-recipe-card [recipe]="recipe" *ngFor="let recipe of recipes; let i = index"></app-recipe-card>
</div> -->