<!-- <h1 class="text-center"> </h1> -->

<div class="jumbotron jumbotron-fluid bg-transparent text-center">
    <div class="container">
        <h1 class="display-2">Dove Legacy</h1>
        <p class="lead">The best recipes from all over the world</p>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

<!-- card rows way -->
<div class="container">
    <div class="row">
        <app-recipe-card class="col-md-4" [recipe]="recipe" *ngFor="let recipe of recipes; let i = index"></app-recipe-card>
    </div>
</div>

<!-- card colums way -->
<!-- <div class="card-columns">
    <app-recipe-card [recipe]="recipe" *ngFor="let recipe of recipes; let i = index"></app-recipe-card>
</div> -->