<div class="card bg-image-cover mb-4 box-shadow animated fadeIn fast" [ngStyle]="{background: 'url(' + recipe.img + ')'}">
    <div (click)="seeRecipe()" class="card-body" style="padding: 6rem;">
    </div>
    <div class="card-footer text-white" style="background:rgba(0,0,0,0.7);">
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text  "><small class="text-light">{{recipe.dateCreated | date}}</small></p>
        <button (click)="seeRecipe()" type="button" class="btn btn-success btn-block">
        Ver receta
      </button>
    </div>
</div>