<div class="container main-container animated fadeIn fast">
    <div [ngStyle]="{background: 'url(./' + recipe.img + ')'}" class="jumbotron p-3 p-md-5 text-white rounded recipe-jumbotron">
    </div>
    <div class="row">
        <div class="col">
            <h1>{{recipe.title}} </h1>
            <h3 class="font-italic">{{recipe.author}}</h3>
            <p><span class="badge badge-primary">{{recipe.meal}}</span> {{recipe.dateCreated | date:'dd MMMM yyyy' }}</p>
            <hr>
            <p class="text-justify">{{recipe.desc}}</p>
            <p> Ingredientes: <span *ngFor="let item of recipe.ingredients" class="badge badge-secondary ml-1">{{item}}</span> </p>
            <p>tiempo: {{recipe.time}} min.</p>
            <p>Personas: {{recipe.people}} aprox.</p>
        </div>
    </div>
    <button [routerLink]="['/home']" routerLinkActive="router-link-active" type="button" class="btn btn-danger">Back</button>
</div>