<nav style="box-shadow: none" class="navbar navbar-light bg-transparent navbar-expand-md  justify-content-center">
    <a class="navbar-brand d-flex w-50 mr-auto" href="#">Delici<img src="./assets/img/icons/paella-icon.png" width="30px"  alt="">us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/home']">{{ 'navbar.home' | translate }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/about']">{{ 'navbar.about' | translate }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/submit']">{{ 'navbar.contribute' | translate }}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'navbar.language' | translate }}
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <div style="cursor: pointer" *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)" class="dropdown-item">{{ lang }}</div> -->
                    <div style="cursor: pointer" (click)="translate.use('es')" class="dropdown-item">Español</div>
                    <div style="cursor: pointer" (click)="translate.use('en')" class="dropdown-item">English</div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [href]="'https://www.addtoany.com/share_save?linkurl='+ this.location" target="_blank">{{ 'navbar.share' | translate }}</a>
            </li>
        </ul>
    </div>
</nav>